/* fleuron.css --- stylesheet for org-fleuron 
 Time-stamp: <2022-12-23 19:06:58 dto>

 Org-Fleuron is (C) Copyright 2022 by David T. O'Toole

 Permission is hereby granted, free of charge, to any person
 obtaining a copy of this software and associated documentation
 files (the "Software"), to deal in the Software without
 restriction, including without limitation the rights to use, copy,
 modify, merge, publish, distribute, sublicense, and/or sell copies
 of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be
 included in all copies or substantial portions of the Software.

 The Software is provided "as is", without warranty of any kind,
 express or implied, including but not limited to the warranties of
 merchantability, fitness for a particular purpose and
 noninfringement. In no event shall the authors or copyright holders
 be liable for any claim, damages or other liability, whether in an
 action of contract, tort or otherwise, arising from, out of or in
 connection with the Software or the use or other dealings in the
 Software.
*/

@font-face {
        font-family: "IBM Plex Serif";
        src: url("ttf/IBMPlexSerif-Regular.ttf");
}

@font-face {
        font-family: "IBM Plex Serif Italic";
        src: url("ttf/IBMPlexSerif-Italic.ttf");
        font-style: italic;
}

@font-face {
        font-family: "IBM Plex Serif Bold";
        src: url("ttf/IBMPlexSerif-Bold.ttf");
        font-weight: bold;
}

@font-face {
        font-family: "IBM Plex Serif Bold Italic";
        src: url("ttf/IBMPlexSerif-BoldItalic.ttf");
        font-weight: bold;
        font-style: italic;
}

@font-face {
        font-family: "IBM Plex Mono";
        src: url("ttf/IBMPlexMono-Regular.ttf");
}

@font-face {
        font-family: "IBM Plex Mono Italic";
        src: url("ttf/IBMPlexMono-Italic.ttf");
        font-style: italic;
}

@font-face {
        font-family: "IBM Plex Mono Bold";
        src: url("ttf/IBMPlexMono-Bold.ttf");
        font-weight: bold;
}

/* @font-face { */
/*         font-family: "IBM Plex Mono Bold Italic"; */
/*         src: url("ttf/IBMPlexMono-BoldItalic.ttf"); */
/*         font-weight: bold; */
/*         font-style: italic; */
/* } */

/* @font-face { */
/*         font-family: "Libre Baskerville"; */
/*         src: url("lb-regular.ttf"); */
/* } */

/* @font-face { */
/*         font-family: "Libre Baskerville"; */
/*         src: url("lb-italic.ttf"); */
/*         font-style: italic; */
/* } */

/* @font-face { */
/*         font-family: "Libre Baskerville"; */
/*         src: url("lb-bold.ttf"); */
/*         font-weight: bold; */
/* } */

body {
    font-family :  'IBM Plex Serif', serif;
    font-size : 12pt;
    margin-bottom : 60pt;
    background : #fdf6e3;
    color : #002b36;
    margin-left : 15%;
    margin-right : 15%;
    max-width : 90%;
    z-index: 1;
}
h1 {
    font-family : "IBM Plex Serif Bold";
    font-size : 20pt;
    font-weight : bold;
    color : #268bd2;
    padding-top : 1em;
    text-align : left;
    border-bottom : 1px solid #073642;
}
h2 {
    font-family : "IBM Plex Serif Bold";
    font-weight: bold;
    font-size : 16pt;
    padding-top : 1em;
    border-bottom : 1px solid #ccc;
}
h3 {
    font-family : "IBM Plex Serif Bold";
    font-weight: bold;
    font-size : 14pt;
    padding-top : 0.5em;
    border-bottom : 1px solid #ccc;
}
h4 {
    font-family : "IBM Plex Serif Bold";
    font-weight: bold;
    font-size : 12pt;
    padding-top : 0.5em;
    border-bottom : 1px solid #ccc;
}


.todo, .deadline {
    color : red;
}
.done {
    color : green;
}
.tag {
    text-align : right;
    font-size : 85%;
    font-family: "IBM Plex Serif";
    background-color: #fdf6e3;
}
.timestamp {
    padding-left : 2px;
    padding-right : 2px;
    color : black;
}
.content {
    background-color : #fdf6e3;
    z-index: 2;
}
h1.title {
    text-align : left;
}
.target {
    background-color : lavender;
}
.menu {
    color : #666;
}
.menu a:link {
    color : #888;
}
.menu a:active {
    color : #888;
}
.menu a:visited {
    color : #888;
}
.figure {
    margin-left : 0;
    padding-left : 0;
    padding-top : 5pt;
    padding-bottom : 5pt;
}
.figure p {
    text-align : left;
}
a:link {
    color : #268bd2;
    /* text-decoration: none; */
}
a:active {
    color : #268bd2;
    /* text-decoration: none; */
}
a:visited {
    color : #268bd2;
    /* text-decoration: none; */
}
pre {
    background-color : #f6f0df;
    padding : 5pt;
    font-family : 'IBM Plex Mono', monospace;
    font-size : 10pt;
}
blockquote {
    background-color : #eee8d5;
    padding: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;
}
table {
    border : 0;
    border-collapse : collapse;
    padding-bottom: 0.3em;
}
td {
    background-color : #eeeeee;
    vertical-align : top;
    border : 0;
}
th {
    background-color : #cccccc;
    vertical-align : top;
    border : 0;
}
p {
    margin-top : 2pt;
    margin-bottom : 2pt;
    padding-top : 2pt;
    padding-bottom : 2pt;
}
div.figure {
    margin-top : 1pt;
    margin-bottom : 1pt;
    padding-top : 1pt;
    padding-bottom : 1pt;
}
div.outline-2 {
    margin-top : 1pt;
    margin-bottom : 1pt;
    padding-top : 0;
    padding-bottom : 0;
}
dfn {
    font-style : italic;
}
.todo {
    color : salmon;
    font-family: "IBM Plex Serif";
}
.done {
    color : yellowgreen;
    font-family: "IBM Plex Serif";
}
#table-of-contents a:link, #table-of-contents a:visited {
    color : black;
    background : transparent;
}
#table-of-contents {
    line-height : 1.2;
    
}
#table-of-contents h2 {
    border-bottom : 0;
}
#table-of-contents ul {
    list-style : none;
    padding-left : 0;
    font-weight : normal;
}
#table-of-contents div > ul > li {
    margin-top : 1em;
    font-weight : bold;
}
#table-of-contents .tag {
    text-align : right;
    float : none;
    padding : 0;
}
#table-of-contents .todo, #table-of-contents .done {
    font-size : 80%;
}
.tag span {
    float : right;
    padding : 0px 2px;
    color : #888;
}

.org-info-js_info-navigation 
{
    background-color: #fdf6e3;
}
.org-info-js_header-navigation
{
    background-color: #fdf6e3;
}

#postamble p, #preamble p { font-size: 90%; }

.myflip
{
    margin-right: 10px;
    width: 70pt;
    height: 35pt;
}

.myflap
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.myback
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.myfleuron
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.myhelp
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.mylicense
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.mytoc
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.mysavebookmark
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.myrestorebookmark
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

.myblackfleuron
{
    margin-right: 10px;
    width: 80pt;
    height: 80pt;
}

.hello
{
    margin-right: 10px;
    width: 250pt;
    height: 100pt;
}

.bookmark
{
    margin-right: 10px;
    width: 200px;
    height: 48px;
}

.mytogglesidebar
{
    margin-right: 10px;
    width: 35pt;
    height: 35pt;
}

#mybookmark
{
    animation: fadeOut 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

#myfade
{
    animation: fadeOut 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 641px) {
    
    body {
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .mysavebookmark { display: none }
    .myrestorebookmark { display: none }
    .mytogglesidebar { display: none }
    #mybookmark { display: none }
    .mylicense { display: none }
}

@media (min-width: 642px) and (max-width: 1150px) {
    
    body {
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
    
}

.centeralign {text-align: right; font-size: 16pt; color: #657b83;}

.subtitle { font-weight: normal; font-size: 12pt; font-style: italic;}

code {
    font-family: "IBM Plex Serif";
    color: chocolate;
}

.org-info-js_parent-heading {
    font-style: normal !important;
}

iframe {
    border: none;
}

/* ul { */
/* 	list-style-type: disc; */
/* } */

/* ul ul { */
/* 	list-style-type: square; */
/* } */

/* ul ul ul { */
/* 	list-style-type: circle; */
/* } */

/* ol { */
/* 	list-style-type: upper-roman; */
/* } */

/* ol ol { */
/* 	list-style-type: lower-roman; */
/* } */

.fleuron-sidebar
{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    padding-left: 0.5em;
    width: 170pt;
    height: 100%;
    font-size: 8pt;
    background: #eee8d5;
    display: none;
    z-index: 2;
    padding-bottom: 60pt;
    margin-bottom: 60pt;
    border-right: solid #d4ccb5 2px;
}

.fleuron-sidebar ul
{
    list-style-type: none;
    padding-left: 1em;
    padding-right: 0.8em;
}

.fleuron-sidebar a
{
    text-decoration: none;
}

.fleuron-sidebar a:hover
{
    text-decoration: underline;
}

.mytooltip .tooltiptext
{
    display: none;
    visibility: hidden;
    background : #fdf6e3;
    color: black;
    text-align: center;
    padding-left: 5pt;
    padding-right: 5pt;
    border-radius: 4pt;
}

.mytooltip:hover .tooltiptext
{
    display: inline;
    visibility: visible;
    position: fixed;
    font-size: 9pt;
    bottom: 11pt;
    right: 380pt;
    width: 150pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.fleuron-tab-bar {
    border: 0;
    width: 100%;
    background-color: #d4ccb5;
}

.fleuron-tab-button
{
    border: 0;
    font-family: "IBM Plex Serif", serif;
    font-size: 8pt;
    background-color: #eee8d5;
}

.fleuron-tab
{
    padding-top: 10pt;
}

.fleuron-mini-button
{
    color: #eee8d5;
    background-color: #d4ccb5;
    border-radius: 3pt;
    padding: 1pt;
    display: none;
}

.fleuron-mini-button a
{
    color: #657b83;
}

.fleuron-fancy-capital
{
    /* float: left;                 */
    height: 50pt;
    width: 50pt;
}

.fleuron-document
{
    text-align: center;
}

#fleuron-bookmarks
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#fleuron-documents
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fleuron-normal-button
{
    color: #eee8d5;
    background-color: #d4ccb5;
    border-radius: 2pt;
    padding: 1pt;
    margin: 1pt;
    font-family: "IBM Plex Serif", serif;
    font-size: 8pt;
    color: #657b83;
}

#FleuronSearchInput
{
    font-family: "IBM Plex Serif", serif;
    font-size: 8pt;
}

#FleuronFullTextSearchInput
{
    font-family: "IBM Plex Serif", serif;
}

hr
{
    border: 1px solid #d4ccb5;
}

.fleuron-fancy-link {  }

.fleuron-fancy-result {   }

i {
    font-family: "IBM Plex Serif Italic";
    font-style: italic;
} 

b {
    font-family: "IBM Plex Serif Bold";
    font-weight: bold;
} 

i b {
    font-family: "IBM Plex Serif Bold Italic";
    font-weight: bold;
    font-style: italic;
}

b i {
    font-family: "IBM Plex Serif Bold Italic";
    font-weight: bold;
    font-style: italic;
}

.subtitle {
    font-family: "IBM Plex Serif Italic";
    font-style: italic;
} 

table .fleuron-agenda-table {

    background-color: #eee8d5;
    border: 0px;
    border-collapse: collapse;
}
.fleuron-agenda-table td {
    background-color : #eee8d5;
    vertical-align : top;
    border : 0px;
}
.fleuron-agenda-table th {
    background-color : paleturquoise;
    vertical-align : top;
    border : 0px;
}

.fleuron-agenda-table tbody>tr>:nth-child(even){ 
    background-color : #d4ccb5;
}
.fleuron-agenda-table tbody>tr>:nth-child(3){ 
    background-color : lemonchiffon;
    border-right: solid orange 2px;
    border-left: solid deepskyblue 1px;
}

.fleuron-agenda-table tbody>tr>:nth-child(4){ 
    background-color : cornsilk;
    border-right: solid orange 2px;
}

.fleuron-agenda-table tr {
    border-bottom: 1px solid lightsteelblue;
}

table.fleuron-agenda-table code
{
    color: orangered;
}

table.fleuron-agenda-table .underline
{
    color: green;
}
